@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cairo', sans-serif;
	background: #289CF0;
}

.wrapper {
	margin: 0 auto;
	max-width: 500px;
}

.paper {
	background: white;
}