{% extends 'base.html' %}
{% block title %}Confirm{% endblock %}
{% block content %}
	<div class="wrapper">
		<div class="paper">
			<h1>thank you!</h1>
			<p><strong>You {% if action=='add coin' %}added{% elif action=='take coin' %}took{% else %}admired{% endif %} a coin! </strong><br /><br />You made a difference and we appreciate your contribution. <br /><br />Sadly, our short-lived time together must come to an end. <br />You cannot vote again. <br /><br />We wish you good fortune in your future. <br /><br />Goodbye.</p>
			<a href="{{ url_for('jar') }}"><button class="btn">back</button></a>
		</div>
	</div>
{% endblock %}
