{% extends 'base.html' %}
{% block title %}Jar{% endblock %}
{% block content %}
	<div class="wrapper wrapper-jar">
		<div class="column col-buttons">
			{% if not error %}
			<span class="precaution">Choose wisely...</span>
			<form class="form-btns" action="{{ url_for('confirm') }}" method="POST">
				<input type="submit" name="action" class="btn" value="add coin">
				<div class="btn-divider">OR</div>
				<input type="submit" name="action" class="btn btn-take" value="take coin">
				<div class="btn-divider">OR</div>
			</form>
			<button class="btn btn-vote">add vote</button>
			{% elif error=="voted" %}
			<p class="error">Sorry, you have already made your decision. Either that, or someone else on your network has.</p>
			{% elif error=="frozen" %}
			<p class="error">The jar is currently frozen shut. It will take 24 hours to thaw.</p>
			{% elif error=="full" %}
			<p class="error">The jar is full.</p>
			{% endif %}
		</div>
		<div class="column col-jar">
			<div class="jar">
				<div class="coins" style="height: {{ percent }}%;"></div>
				<div class="image"></div>
			</div>
			<div class="stats">
				<div class="main">${{ coins }}/${{ capacity }}</div>
				<div class="sub"><strong>{{ percent }}&percnt; full. {{ capacity-coins }} coins to go. </strong><br />When the jar is full, there's no going back.</div>
			</div>
		</div>
	</div>
	<div class="paper-fade"></div>
	<div class="paper paper-floating">
		<h1>add a vote</h1>
		<div class="btn-close"></div>
		<div class="voteOptions">

			<div class="option">
				<div class="option-button" value="add vote double">
					<img class="icon" src="{{ url_for('static', filename='icon_2xjar.svg') }}" alt="Icon for doubling jar size">
					<img class="icon_hover" src="{{ url_for('static', filename='icon_2xjar_hover.svg') }}" alt="Icon for doubling jar size">
					<div class="title">Double the size of the jar</div>
				</div>
				<div class="stats">{{ votes[1] }}/500</div>
			</div>
			<div class="option">
				<div class="option-button" value="add vote freeze">
					<img class="icon" src="{{ url_for('static', filename='icon_freeze_jar.svg') }}" alt="Icon for freezing voting for one day">
					<img class="icon_hover" src="{{ url_for('static', filename='icon_freeze_jar_hover.svg') }}" alt="Icon for freezing voting for one day">
					<div class="title">Freeze the lid of the jar</div>
				</div>
				<div class="stats">{{ votes[2] }}/500</div>
			</div>
			<div class="option">
				<div class="option-button" value="add vote tip">
					<img class="icon" src="{{ url_for('static', filename='icon_tip_jar.svg') }}" alt="Icon for tipping out half of the coins from the jar">
					<img class="icon_hover" src="{{ url_for('static', filename='icon_tip_jar_hover.svg') }}" alt="Icon for tipping out half of the coins from the jar">
					<div class="title">Tip out half of the coins</div>
				</div>
				<div class="stats">{{ votes[3] }}/500</div>
			</div>

			<form id="vote_button_form" action="{{ url_for('confirm') }}" method="POST">
				<input id="vote_button_hidden" type="hidden" name="action" value="null">
			</form>

		</div>
	</div>

	<script>
		function openModal() {
			var form = document.getElementsByClassName("form-btns")[0];
			form.style.display = "none";

			var fade = document.getElementsByClassName("paper-fade")[0];
			fade.style.opacity = 1;
			fade.style.pointerEvents = "all";

			var paper = document.getElementsByClassName("paper-floating")[0];
			paper.style.display = "block";
		}

		function closeModal() {
			var form = document.getElementsByClassName("form-btns")[0];
			form.style.display = "initial";

			var fade = document.getElementsByClassName("paper-fade")[0];
			fade.style.opacity = 0;
			fade.style.pointerEvents = "none";

			var paper = document.getElementsByClassName("paper-floating")[0];
			paper.style.display = "none";
		}

		document.getElementsByClassName("btn-vote")[0].addEventListener("click", openModal);
		document.getElementsByClassName("btn-close")[0].addEventListener("click", closeModal);
		document.getElementsByClassName("paper-fade")[0].addEventListener("click", closeModal);

		var vote_buttons = document.getElementsByClassName("option-button");

		for (var i = 0; i < vote_buttons.length; i++) {
			vote_buttons[i].addEventListener("click", function(event) {
				var hidden_input = document.getElementById("vote_button_hidden");

				hidden_input.setAttribute("value", this.getAttribute("value"));
				document.getElementById("vote_button_form").submit();
			}, false);
		}

	</script>
{% endblock %}
