{% extends 'base.html' %}
{% block content %}
	<div class="wrapper">
		<div class="paper">
			<h1>add a vote</h1>
			<div class="voteOptions">
				<div class="option">
					<img src="{{ url_for('static', filename='icon_2xjar.svg') }}" alt="Icon for doubling jar capacity">
					<div class="title">Double the capacity of the jar</div>
					<div class="stats">230/500</div>
				</div>
				<div class="option">
					<img src="{{ url_for('static', filename='icon_2xjar.svg') }}" alt="Icon for doubling jar capacity">
					<div class="title">Double the capacity of the jar</div>
					<div class="stats">230/500</div>
				</div>
				<div class="option">
					<img src="{{ url_for('static', filename='icon_2xjar.svg') }}" alt="Icon for doubling jar capacity">
					<div class="title">Double the capacity of the jar</div>
					<div class="stats">230/500</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}